html{
    background-color: black;
    background-size: cover;
}
body {
    height: 100vh;
    overflow: hidden;
    margin: unset;
}
h1{
    color: white;
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: center;
    background-color: black;
    height: 5vh;

}

.keyboard{
    margin: 160px 0 0 200px;
    font-size: 20px;
}
.keyboard > .rows {
    display: none;
    border: 3px;
    border-style: solid;
}

.row{
width: 100%;
height: 60px;
}

.one,.two,.three,.four,.five{
margin: 10px 0 0 0;
}

button{
color: rgb(1, 1, 1);
height: 55px;
width: 55px;
border: none;
border-radius: 20%;
background-color: white;
box-shadow: 5px 5px 10px gray, -5px -5px 10px white;
font-size: 20px;
margin-left: 5px;
outline: none;
font-family: Georgia, 'Times New Roman', Times, serif;
}

button:active{
box-shadow: 1px 1px 2px white, -1px -1px 2px gray;
}

.delete{
    width: 150px;
    border-radius: 10px;
}

.enter{
    width: 150px;
    border-radius: 10px;
}

.caplock{
    width: 150px;
    border-radius: 10px;
}

.shift{
    width: 100px;
    border-radius: 10px;
}

.shift1{
    width: 170px;
    border-radius: 10px;
}

.tab{
    width: 100px;
    border-radius: 10px;
}

.alt{
    width: 70px;
    border-radius: 10px;
}

.Space{
    width: 330px;
    border-radius: 10px;
}